#container {
     max-width: 1360px !important;
     margin: 0px auto !important;
     padding: 0px;
}

.clr {
     clear: both;
}

.background {
     background: #292E36;
     width: 100%;
}

nav {
     display: flex;
     padding: 50px 0px;
     justify-content: space-between;
     align-items: center;
}

main {
     border-top: 1px solid #5C6168;
}

.call__btn {
     float: left;
     outline: none;
     border: 2px solid #E1B168;
     border-radius: 0px;
     padding: 20px 57px;
     background-color: #292E36;
     color: #fff;
     cursor: pointer;
}

.top__right__btn {
     float: right;
     padding: 20px 85px;
     background: #E1B168;
     font-family: 'Josefin Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     text-align: center;
     color: #292E36 !important;
     border: 2px solid #E1B168;
     border-radius: 0px;
}

.top__right__btn a {
     color: #292E36;
}

.tel {
     color: white;
     text-decoration: none;
}

.nav__list__icons {
     max-width: 1360px;
     height: 82px;
}

.nav_list {
     float: left;
}

.nav_list ul {
     padding-left: 0px;
}

.nav_list ul li {
     margin-top: 26px;
     margin-right: 55px;
     display: inline-block;
     list-style-type: none;
     font-family: 'Josefin Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.2px;
     cursor: pointer;
     color: #fff;
}

.nav__icons {
     padding-top: 32px;
     float: right;
}

.nav_list .active {
     color: #E1B168;
}

.content {
     padding-right: 50px;
     margin-left: 0px;
     padding-left: 0px;
     width: 750px;
     float: left;
}

.frame {
     margin-left: 0px;
     display: flex;
     margin-right: 10px;
}

.content h1 {
     font-family: 'Cormorant Infant';
     font-style: normal;
     font-weight: 400;
     font-size: 85px;
     line-height: 110px;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     margin-top: 230px;
     margin-left: 0px;
}

.frame img {
     margin-right: -0px;
     max-width: 670px;
     margin-top: 36px;
}

.content p {
     margin-top: 26px;
     font-family: 'Josefin Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 30px;
     letter-spacing: 0.2px;
     color: #FFFFFF;

}

.content button {
     margin-top: 35px;
     background-color: #292E36;
     padding: 20px 57px;
     font-family: 'Josefin Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 33px;
     text-align: center;
     letter-spacing: 0.2px;
     color: #E1B168;
     border: 2px solid #E1B168;
     border-radius: 0px;
}

/* media  */

@media (max-width:1440px) {
     .nav__icons .p {
          margin-right: 0px;
     }

     #container {
          max-width: 1360px;
          padding: 0px;
     }

     .content {
          float: left;
          padding-left: 0px;
          margin-left: 0px;
     }

     .content h1 {
          font-size: 70px;
     }

     .frame .frame__img {
          width: 700px;
     }
}

@media (max-width:1320px) {
     .container {
          max-width: 1200px
     }

     .frame .frame__img {
          width: 550px;
     }
}

@media screen and (max-width:1260px) {
     .container{
          max-width: 1200px !important;
     }
     .nav__list ul{
         max-width: 1200px;
          margin: 20px auto;
     }
}


@media screen and (max-width:1024px) {
     .frame{
          max-width: 1000px;
     }
     .content{
          max-width: 400px;
     }
     .content .h1 {
          font-size: 40px;
     }

     .nav_list ul {
          width: 100%;
     }

     .nav_list ul li {
          margin-right: 75px;
     }

     .content h1 {
          margin-top: 100px;
          line-height: 50px;
          width: 350px;
          font-size: 80px;
     }

   

     .frameDiv .frame__img{
          min-width: 700px;
          height: 500px;
     }

     .container {
          max-width: 960px !important;
     }
     .nav__icons{
          display: none;
     }
}


/*(
@media (max-width:930){
     ....
}
@media (max-width:810){
     ....
} */
@media screen and (max-width:768px) {
     .content {
          min-width: 700px !important;
     }

     .content .h1 {
          width: 100%;
          justify-content: start;
          margin-top: 100px;
          font-size: 50px;
     }
     .content button{
          width: 200px;
          align-items: center;
          font-size: 20px;
          padding: 10px;
     }

     .logo {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
     }

     .container {
          max-width: 650px !important;
     }

     .nav__list__icons {
          width: 500px;
     }

     .nav_list{
          width: 700px;
     }

     .nav_list ul {
          width: 100%;
          justify-content: space-around;
          margin: 0px 50px;
     }
     .nav_list ul li {
          font-size: 20px;
          margin-right: 40px;
          font-size: 20px;
     }

     .call__btn,
     .top__right__btn,
     .frame__img {
          display: none;
     }

     .logo {
          height: 150px;
     }

     .nav__icons {
          min-width: 250px;
          margin: 0px auto;
          display: flex;
          justify-content: space-around;
          margin-bottom: 50px;
     }

     .nav__icons a img {

          min-width: 60px;
     }
}

/* @media (max-width:620){
     ....
}
@media (max-width:520){
     ....
}*/
@media (max-width:420px) {
     .frame__img {
          display: none;
     }
}


@media screen and (max-width:320px) {
     nav {
          width: 300px;
          margin-bottom: 0px;
          padding-bottom: 0px;
     }

     .background {
          min-height: 140vh;
     }

     .logo {
          min-width: 320px;
          padding-top: 0px;
          margin-top: -10px;
          display: flex;
          align-items: center !important;
          justify-content: center !important;
          height: 150px;
     }

     #container {
          max-width: 320px;
     }

     .content {
          padding: 0px;
          margin: 0px;
          width: 100%;
     }

     .content h1 {
          line-height: 0px;
          padding: 0px;
          font-size: 30px;
          letter-spacing: 0.2px;
          color: #FFFFFF;
          margin-top: 230px;
          margin-left: 0px;
     }

     .frame img {
          display: none !important;
     }

     #Reservation {
          display: none;
     }

     .call__btn {
          display: none;
     }

     .nav_list ul {
          width: 100vw !important;
          margin: 10px auto;
          margin-top: 0px;

     }

     .nav_list ul li {
          justify-content: center;
          align-items: center;
          font-size: 10px;
          display: flex;
          width: 100%;
     }

     .nav__icons {
          width: 100% !important;
          float: left;
     }

     .nav__icons img {
          margin-right: 40px;
     }

     .frame {
          display: none;
     }

     .nav_list,
     .nav__list__icons {
          max-width: 320px;
     }

     .nav__icons {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;

     }

     .nav__icons a img {
          margin-right: 20px;
          width: 50px;
          height: 60px;
     }

     #container {
          max-width: 320px !important;
     }

     * {
          max-width: 320px !important;
     }

}