.menu{
    width: 100%;
    height: auto;
}
/* menu section start */
.menu_section{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 4vw;
}
/* menu section left start */
.font{
    font-weight: 400;
}
.menu_section_left{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.menu_section_left__title{
    font-family: "josefin" sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: center;
    width: 5%;
    border-top: 2px solid #E1B168;
    border-bottom: 2px solid #E1B168;
}
.menu_section_left__bottom_title{
    height: 56px;
    width: 35vw;
    font-size: 34px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.menu_section_left__bottom_text{
    width: 42vw;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.menu_section_left__bottom_img{
    margin-top: 20px;
    width: 90%;
    border-radius: 2px;
}
.menu_section_left__bottom__button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 220px;
    border: 2px solid #E1B168;
    cursor: pointer;
}
[href="#all-dishes"]{
    text-decoration: none;
    color: #E1B168;
    font-style: normal;
    font-size: 20px;
}
/* menu section left end */
/* menu section right start */
.menu_section_right{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
/* menu section box a start */
.menu_section_right__box_a{
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.menu_section_right__box_a__title{
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}
/* menu section box a line a start */
.menu_section_right__box_a__line_a{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.menu_section_right__box_a__line_a__img{
    width: 74px;
    height: 74px;
}
.line_a__title{
    font-size: 25px;
}
.menu_section_right__box_a__line_a__text__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
    width: 56vw;
}
.menu_section_right__box_a__line_a__text__text__line{
    padding-top: 18px;
    border-bottom: 1px solid #AAAAAA;
}
.menu_section_right__box_a__line_a__text__text__price{
    font-size: 24px;
}
/* menu section box a line a end */
.line-a{
    width: 26vw;
}
.line-b{
    width: 26vw;
}
.line-c{
    width: 27vw;
}
.line-d{
    width: 29vw;
}
/* menu section box a end */
/* menu section box b start */
.line-e{
    width: 26vw;
}
.line-f{
    width: 30vw;
}
.line-g{
    width: 27vw;
}
.line-h{
    width: 24vw;
}
/* menu section box b end */
/* menu section box c start */
.line-i{
    width: 28vw;
}
.line-j{
    width: 30vw;
}
/* menu section box c end */

/* menu section right end */
@media (max-width:1400px){
    .conatiner{
        max-width: 1300px;
        margin: 0 auto;
     }
     .menu_section_right__box_a__line_a__text__text{
        width: 52vw;
     }
     .menu_section_left__bottom_text{
        width: 31vw;
     }
     .menu_section_left__title{
        width: 4.3%;
     }
}
@media (max-width:1360px){
    .container{
        max-width: 1260px;
        margin: 0 auto;
     }
     .menu_section_left__title{
        width: 4.5%;
     }
     .menu_section_right__box_a__line_a__text__text{
        width: 51vw;
     }

}
@media (max-width:1320px){
     .conatiner{
        max-width: 1220px;
        margin: 0 auto;
     }
     .menu_section_left__title{
        width: 4.5%;
     }
     .menu_section_right__box_a__line_a__text__text{
        width: 51vw;
     }
}
@media (max-width:1220px){
    .conatiner{
        max-width: 1120px;
        margin: 0 auto;
     }
     .menu_section_left__title{
        width: 5.5%;
     }
     .menu_section_right__box_a__line_a__text__text{
        width: 50vw;
     }
     .menu_section_right__box_a__line_a__text__text__line {
        padding-top: 24px;
     }
}
@media (max-width:1020px){
    .menu_section_left__bottom_text{
        font-size: 16px;
    }
    .conatiner{
        max-width: 920px;
        margin: 0 auto;
     }
     .line_a__title{
        font-size: 21px;
     }
     .menu_section_right__box_a__line_a__text__text{
        font-size: 16px;
        width: 47vw;
     }
     .menu_section_right__box_a__line_a__text__text__price{
        font-size: 21px;
     }
     .menu_section_left__title{
        width: 6.5%;
     }
     .menu_section_right__box_a__line_a__text__text__line {
        padding-top: 26px;
     }
     .menu_section_left__bottom_title{
        font-size: 27px;
    }
}
@media (max-width:930px){
    .menu_section_left__bottom_title{
        font-size: 27px;
    }
    .menu_section_left__bottom_text{
        font-size: 16px;
    }
    .conatiner{
        max-width: 830px;
        margin: 0 auto;
     }
     .line_a__title{
        font-size: 21px;
     }
     .menu_section_right__box_a__line_a__text__text{
        font-size: 16px;
        width: 40vw;
     }
     .menu_section_right__box_a__line_a__text__text__price{
         font-size: 21px;
         padding-top: 13px;
     }
     .menu_section_left__title{
        width: 6.5%;
     }
     .menu_section_left__bottom_title{
        font-size: 27px;
     }
     .menu_section_left__bottom_text{
        width: 43vw;
     }
     .menu_section_right__box_a__line_a__text__text__line{
        padding-top: 33px;
     }
}
@media (max-width:810px){
    .conatiner{
        max-width: 800px;
        margin: 0 auto;
     }
    .menu_section_right__box_a__line_a__text__text{
        width: 38vw;
    }
    .menu_section_left__bottom_title{
        width: 40vw;
    }
    .menu_section_left__title{
        width: 7.5%;
     }
     .menu_section_left__bottom_text{
        line-height: 24px;
     }
     .menu_section_left{
        gap: 5px;
     }
}
@media (max-width:800px){
    .conatiner{
        max-width: 700px;
        margin: 0 auto;
     }
    .menu_section_left__title{
        width: 9%;
        font-size: 18px;
        line-height: 28px;
    }
    .menu_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu_section_left__title{
        margin: 0 auto;
        text-align: center;
    }
    .menu_section_left{
        gap: 16px;
    }
    .menu_section_left__bottom_title{
        text-align: center;
        margin: 0 auto;
        width: 65vw;
        font-size: 31px;
    }
    .menu_section_left__bottom_text{
        width: 98vw;
        font-size: 17px;
        pad: 0 30px;
        text-align: center;
    }
    .menu_section_left__bottom_img{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .menu_section_left__bottom_img img{
        width: 90%;

    }
    .menu_section_left__bottom__button{
        height: 50px;
        width: 165px;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 30px;
        margin: 0 auto;

    }
    .menu_section_right__box_a__title{
        font-size: 27px;
    }
    .line_a__title{
        font-size: 20px;
    }
    .menu_section_right__box_a__line_a__text__text{
        width: 85vw;
        font-size: 15px;
    }
    .line-a{
        width: 36vw;
        padding-top: 13px;
    }
    .line-b{
        width: 36vw;
        padding-top: 13px;
    }
    .line-c{
        width: 37vw;
        padding-top: 13px;
    }
    .line-d{
        width: 40vw;
        padding-top: 13px;
    }
    .line-e{
        width: 34vw;
        padding-top: 13px;
    }
    .line-f{
        width: 41vw;
        padding-top: 13px;
    }
    .line-g{
        width: 36vw;
        padding-top: 13px;
    }
    .line-h{
        width: 31vw;
        padding-top: 13px;
    }
    .line-i{
        width: 36vw;
        padding-top: 13px;
    }
    .line-j{
        width: 42vw;
        padding-top: 13px;
    }
    .menu_section_right__box_a__line_a__text__text__price{
        padding-top: 0;
    }
}
@media (max-width:720px){
    .conatiner{
        max-width: 620px;
        margin: 0 auto;
     }
    .menu_section_left__bottom__button{
        height: 50px;
        width: 165px;
        margin-top: 30px;
    }
    .menu_section_right__box_a__line_a__text__text{
        width: 82vw;
    }
    .menu_section_left__bottom_text{
        width: 96vw;
    }
    .menu_section_left__bottom_title{
        font-size: 27px;
    }
}
@media (max-width:620px){
    .conatiner{
        max-width: 520px;
        margin: 0 auto;
     }
    .menu_section_left__title{
        font-size: 16px;
        width: 11%;
    }
    .menu_section_left__bottom_title{
        font-size: 26px;
    }
    .menu_section_left__bottom_text{
        font-size: 15px;
    }
    .menu_section_left__bottom__button{
        height: 50px;
        width: 165px;
        margin-top: 30px;
    }
    .menu_section_right__box_a__line_a__text__text{
        width: 80vw;
        gap: 13px;
        font-size: 14px;
    }
    .line-a{
        width: 39vw;
    }
    .line-d{
        width: 48vw;
    }
    .line-e{
        width: 41vw;
    }
    .line-h{
        width: 35vw;
    }
    .line-i{
        width: 54vw;
    }
    .line-j{
        width: 48vw;
    }
}
@media (max-width:520px){
    .conatiner{
        max-width: 420px;
        margin: 0 auto;
     }
    .menu_section_left__title{
        width: 12%;
        font-size: 14px;
    }
    .menu_section_left__bottom_title{
        font-size: 25px;
    }
    .menu_section_left__bottom_text{
        font-size: 14px;
    }
    .line_a__title{
        font-size: 19px;
    }
    .menu_section_right__box_a__line_a__text__text{
        width: 75vw;
    }
    .menu_section_left__bottom__button{
        height: 45px;
        width: 130px;
        margin-top: 23px;
    }
}
@media (max-width:420px){
    .conatiner{
        max-width: 320px;
        margin: 0 auto;
     }
    .menu_section_left{
        gap: 7px;
    }
    .menu_section_left__title{
        font-size: 13px;
        width: 15.5%;
        line-height: 21px;
    }
    .menu_section_left__bottom_text{
        font-size: 13px;
    }
    .menu_section_left__bottom_title{
        font-size: 21px;
    }
    .menu_section_left__bottom__button{
        height: 40px;
        width: 110px;
        margin-top: 15px;
    }
    [href="#all-dishes"]{
        font-size: 16px;
    }
    .menu_section_left__bottom_text{
        width: 94vw;
    }
    .menu_section_right__box_a{
        gap: 28px;
    }
    .menu_section_right__box_a__title{
        font-size: 26px;
    }
    .menu_section_right__box_a__line_a__img{
        width: 60px;
        height: 60px;
    }
    .line_a__title{
        font-size: 18px;
    }
    .menu_section_right__box_a__line_a__text__text{
        font-size: 13px;
        width: 67vw;
    }
    .menu_section_right__box_a__line_a__text__text__price{
        font-size: 19px;
    }
    .menu_section_right__box_a__line_a__text__text__price{
        padding-top: 25px;
    }
    .price-i{
        padding-top: 13px;
    }
    .line-a{
        width: 63vw;
        padding-top: 41px;
    }
    .line-b{
        width: 73vw;
        padding-top: 39px;
    }
    .line-c{
        width: 76vw;
        padding-top: 37px;
    }
    .line-d{
        padding-top: 40px;
        width: 81vw;
    }
    .line-e{
        padding-top: 38px;
        width: 75vw;
    }
    .line-f{
        padding-top: 38px;
        width: 79vw;
    }
    .line-g{
        padding-top: 38px;
        width: 70vw;
    }
    .line-h{
        padding-top: 38px;
        width: 70vw;
    }
    .line-i{
        padding-top: 38px;
        width: 54vw;
    }
    .line-j{
        padding-top: 25px;
        width: 46vw;
    }
}
/* menu section end */
