#container {
    max-width: 1360px !important;
    margin: 0px auto !important;
    padding: 0px;
}

.container {
    max-width: 1360px !important;
    margin: 0px auto !important;
    padding: 0px;
}


/* testimonial */


.testimonial {
    height: 900px;
    color: #fff;
    background: #292E36;
}

.testimonial .top {
    padding-top: 145px;
}


.mainBox {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.testimonial h3 {
    width: 140px;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.testimonial h1 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.testimonial p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.testimonial .testBox {
    margin-right: 30px;
    margin-bottom: 260px;
    margin-top: 80px;
    background: #343942;
    height: 300px;
    min-width: 540px;
}



.insideContainer img {
    margin-right: 30px;
}

.insideContainer h2 {
    margin-top: 35px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.natashaCon {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #797E89;
}

.natashaCon img {
    margin-left: 40px;
}

.insideContainer p {
    margin-top: 33px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    margin-left: 40px;
    letter-spacing: 0.25px;

    color: #FFFFFF;
}

.insideContainer span {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.bg__img {
    background: #292E36;
}


           /* media */
     @media screen and (max-width:1024px) {
              .testimonial{
                   height: 750px;
              }
              .testimonial .top{
                   padding-left: 25px;
                   padding-right: 25px;
                   padding-top: 40px;
              }
         }
         
         

@media screen and (max-width:768px) {
    .testimonial .top{
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 30px;
    }
}



/* 425 */

@media screen and (max-width:425px) {
    .testimonial{
         height: 730px;
    }
    .testimonial .top{
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 30px;
    }
    .testimonial{
         max-width: 425px;
    }

    .insideContainer{
         max-width: 425px;
    }
    .mainBox {
         max-width: 425px;
         overflow-x: hidden;
         overflow-y: scroll;
         display: block;
    }

    .insideContainer p{
         max-width: 425px;
         padding: 0px;
         margin: 0;

    }

    .natashaCon h2{
         margin-top: 10px;
    }
    .natashaCon span{
         margin-top: 0px;
    }
    .natashaCon img{
         margin-left: 15px;
         width: 120px;
    }
    .insideContainer p{
         max-width: 400px;
         font-size:16px;
         padding-left: 20px;
    }
    .testBox{
         max-width: 420px;
         margin-bottom: 20px !important;
         padding-bottom: 0px !important;
    }

}

/* 375 */

@media screen and (max-width:375px) {
    .testimonial{
         height: 730px;
    }
    .testimonial .top{
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 30px;
    }
    .testimonial{
         max-width: 375px;
    }

    .insideContainer{
         max-width: 375px;
    }
    .mainBox {
         max-width: 375px;
         overflow-x: hidden;
         overflow-y: scroll;
         display: block;
    }

    .insideContainer p{
         max-width: 375px;
         padding: 0px;
         margin: 0;

    }

    .natashaCon h2{
         margin-top: 10px;
    }
    .natashaCon span{
         margin-top: 0px;
    }
    .natashaCon img{
         margin-left: 15px;
         width: 120px;
    }
    .insideContainer p{
         font-size:16px;
         padding-left: 15px;
    }
    .testBox{
         max-width: 375px;
         margin-bottom: 20px !important;
         padding-bottom: 0px !important;
    }

}

/* 320 */


@media screen and (max-width:320px) {
    .testimonial{
         height: 730px;
    }
    .testimonial .top{
         padding-bottom: 20px;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 20px;
    }
    .testimonial{
         max-width: 320px;
    }

    .insideContainer{
         max-width: 310px;
    }
    .mainBox {
         max-width: 320px;
         overflow-x: hidden;
         overflow-y: scroll;
         display: block;
    }

    .insideContainer p{
         max-width: 300px;
         padding: 0px;
         margin: 0;

    }

    .natashaCon h2{
         margin-top: 10px;
    }
    .natashaCon span{
         margin-top: 0px;
    }
    .natashaCon img{
         margin-left: 15px;
         width: 90px;
    }
    .insideContainer p{
         font-size:10px;
         padding-left: 10px;
    }
    .testBox{
         max-width: 320px;
         margin-bottom: 0px !important;
         padding-bottom: 0px !important;
    }

}






